div {
    font-size: 18px;
    line-height: 20px;

    box-sizing: border-box;
    width: 100%;

    text-align: center;

    color: #622c6e;
    border: none;
    border-bottom: 1px solid #622c6e;
    outline: none;
    background-color: transparent;

    moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        margin: 0;

        -webkit-appearance: none;
    }
}
